<li> 
    <%=link_to name[:name], {:controller => "pages", :action => "data", :playlist_id => name[:id], :playlist_name => name[:name], :url =>name[:url], :token=>@client_access_token, :remote => true }, class:"text-decoration-none" %>
</li>